.profileMenu{
	position: absolute;
	color: black;
	right: .5rem;
	top: 3rem;
	background: #FFF;
	height: 70px;
	width: 150px;
}

.profileMenu ul{
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.profileMenu ul li{
	padding: .5rem 0 .5rem 0;
	width: 100%;
}

.profileMenu ul li:hover{
	background: #909090;
}

