.formWrapper{
	display: flex;
	z-index: 10;
	position: fixed;
	top: 50%;
	margin-left: 25%;
	margin-right: 25%;
	transform: translateY(-50%);
	width: 50%;
	height: 31rem;
	background: #282828;
	text-align: center;
  	text-align-last: left;
}


.firstHalf{
	box-sizing: border-box;
	padding: 4rem 4rem 0 4rem;
	width: 40%;
	background: #E49F00;	
}

.description{
	text-align: left;
	font-weight: 300;
}

.logo{
	margin-top: 12rem;
	display: flex;
	justify-content: center; 
	border: 1px white solid;
	width: 4rem;
}

.SignUpFormTitle{
	text-align: left;
	margin-bottom: 2.5rem;
	font-size: 1.7rem;
	font-weight: 300;
}

.secondHalf{
	width: 60%;
	box-sizing: border-box;
	padding: 5.8rem 4rem 0 4rem;
	background: #FFF;
	color: #A6A7AC;
	font-weight: 600;
	font-size: .8rem;
}

input{
	margin-top: .2rem;
	margin-bottom: 1.4rem;
	border: none;
	border-bottom: 1px solid #A6A7AC;
	width: 85%;
}
input:focus{
	outline: none;
}

.btnSignUp{
	padding: .5rem 1.3rem .5rem 1.3rem;
	color: #FFF;
	background: #00CC66;
	border: none;
	font-weight: 600;
	outline: none;
}

.logInLink{
	text-decoration: none;
	color: #7EE4AB;
	font-weight: 700;
}

.formCover{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: .9;
}

.errMsg{
	color: red;
	margin-top: 0;
	text-align: left;
}